# History files
.Rhistory
.Rapp.history
#.RData
.Ruserdata
.Rproj.user/

# knitr and R markdown
*_cache/
/cache/
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# big data files
/bigData/
/intermediate/
